*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

b{
    font-weight: 700;
}

body{
    margin: 40px 20px;
}

ol, ul{
    font-style:italic;
    margin: 10px auto;
}

h2{
    color:rgb(52, 109, 214);
    padding: 5px 0;
    font-weight: bold;
}

code{
    font-family: 'Courier New', Courier, monospace;
    padding: 2.5px 7.5px;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
}